@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');

.body {
    background: linear-gradient(90deg,#204354, #00192d);
}
.p-img {
    width: 100%;
    min-width: 200px;
}
.p-img-logo {
    max-width: 283px;
    width: 25%;
}
.p-text-tittle {
    font-family: 'Martel', serif;
    font-size: 150%;
    color: #486f75;
}
.p-text-body {
    color: hsl(186, 88%, 26%);
}
.p-bn-topo{
    width: 100%
}
.p-bn-img{
    min-width: 75px;
    width: 80%
}
.p-bn-footer {
    color: #06e4fc;
}
.p-bn-card {
    width: 20%
}
.p-bn-banner{
    width: 1%;
}
.p-bn-icon{
    min-width: 12.5px;
    width: 50%
}
.p-bn-text-footer{
    color: #294c80
}
.p-bn-icon:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
}
.p-bn-banner:hover {
    transform: scale(1.01);
    transition-duration: 500ms;  
}
.p-bn-footer-text{
    width: 10%;
}